@charset "UTF-8";

/*Todos os demais Dispositivos*/

/* Typical Devices Breakpoints
-------------------------------
  Pequenas Telas: até 600px
  Celular: de 600px até 768px
  Tablet: de 768px até 992px
  Desktop: de 992px até 1200px
  Telas Grandes: acima de 1200px
*/
   /*Impressora*/
@media print{
    *{
     font-family:'Courier New', Courier, monospace;
    }
    body{
    background: url(../imagens/back-print.jpg)
 }
    img#phone{display:none;}
    img#tv{display:none;}
    img#print{display:block;}
    img#pc{display:none;}
    img#tablet{display:none;}

    main{
        border:2px solid black;
    }
    main>h1{
        color:black;
        text-shadow:none
    }
    }
    /*Tablet*/
@media screen and (min-width: 768px) and (max-width: 992px){
 body{
    background: url(../imagens/back-tablet.jpg);
    background-position: center center;
 }
    img#phone{display:none;}
    img#tv{display:none;}
    img#print{display:none;}
    img#pc{display:none;}
    img#tablet{display:block;}
}
   /*Desktop*/
@media screen and (min-width:992px) and (max-width: 1200px){
 body{
    background: url(../imagens/back-pc.jpg);
    background-position:center center;
 }
    img#phone{display:none;}
    img#tv{display:none;}
    img#print{display:none;}
    img#pc{display:block;}
    img#tablet{display:none;}
}
  /*Grandes Telas*/
@media screen and (min-width:1200px){
 body{
    background: url(../imagens/back-tv.jpg);
    background-position:  center center;
 }
    img#phone{display:none;}
    img#tv{display:block;}
    img#print{display:none;}
    img#pc{display:none;}
    img#tablet{display:none;}
}